<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	</head>
	<body>
		<div class="container">
			<nav class="navbar">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">WalletFriend Home</a>
			</div>
			<ul class="nav navbar-nav">
			<li><a href="/addPurchase">Add a Purchase</a></li>
			<li><a href="/removePurchase">Remove a Purchase</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#if user}}
				<p class="navbar-text">Logged in as {{user.username}}</p>
				<li><a href="/logout">Logout</a></li>
      			{{else}}
      			<li><a href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      			<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      			{{/if}}

			</ul>
			</nav>		

		{{{ body }}}
		</div>
	</body>
</html>