{{#if message}}
{{message}}
{{/if}}
<form method="POST" action="">
		Username: <input name="username" type="text">	
		Password: <input name="password" type="password">	
		Total Budget (you can adjust this later): <input name="totBudg" type="number"> <!-- adjust this or add cents section -->
		<!-- Categories (you can change these later): -->
		<input type="submit" value="Submit">	
</form>